anyio==4.2.0
bidict==0.22.1
blinker==1.7.0
bokeh==3.3.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
Flask==3.0.1
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.6
wsproto==1.2.0
xyzservices==2023.10.1
